@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import "tailwindcss";


:root{
    background-color: white;
}

.noise{
    position: relative; /**/
    overflow: hidden;
}

.noise::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='20' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.15'/%3E%3C/svg%3E");
    pointer-events: none;
}

/*
.gradt{
    background: linear-gradient(to bottom left, #8A96BE, #404658);
}
*/

.font-p{
    font-family: 'Jura', sans-serif; 
}

@layer{
    .menu{
        @apply bg-white h-10 w-10 ml-5 mt-5 rounded-md flex items-center justify-center
    }
    .IoIosArrowForward{
        @apply text-xl
    }
    .gradt{
        @apply bg-gradient-to-bl from-[#8A96BE] to-[#404658]
    }
    .inputRegister{
        @apply bg-gray-300 rounded-sm h-6/12
    }
}


